@import "~semantic-ui-less/themes/default/globals/site.variables";
@import "../../semantic-ui/site/globals/site.variables";

.navbar-root.navbar-transparent{
	background-color: transparent !important;
	position: absolute;
	width: 100%;
	z-index: 20;
}
.navbar-root.navbar-primary{
	background-color: @primaryColor !important;
}
