.keynoteheader-root{
	margin-bottom: 20px;

	.keynoteheader-title{
		width: fit-content;
	}

	.keynoteheader-subheaders{
		margin-top: 20px;
		padding-left: 20px;
	}
}

.keynoteheader-root:hover{
	cursor: pointer;
}